@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "DynaPuff";
  src: url(/public/fonts/DynaPuff-VariableFont_wdth,wght.ttf) format("truetype");
}

@font-face {
  font-family: "Beiruti";
  font-style: normal;
  font-weight: 400;
  src: url(/public/fonts/Beiruti-VariableFont_wght.ttf) format("truetype");
}

@theme {
  --font-display: "DynaPuff", sans-serif;
  --font-sans: "Beiruti", sans-serif;
  --font-serif: "DynaPuff", serif;

  --color-primary: #fffcf5;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
