---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <!-- Hero -->
  <section class="flex items-center justify-center min-h-screen">
    <div class="text-center">
      <h1 class="text-5xl font-bold">Kiana</h1>
      <h1 class="text-5xl font-bold">DellaGatta</h1>
      <h3 class="mt-2 text-lg italic">
        "Hire me before my cats give me a full-time job"
      </h3>
      <img
        src="/src/assets/images/kianasdesktop.png"
        alt="Kiana"
        class="mx-auto mt-6"
      />
    </div>
  </section>

  <!-- About -->
  <section class="container bg-blue-300 grid grid-cols-1 md:grid-cols-2">
    <div>
      <h2>About</h2>
      <p>
        Hi, my name is Kiana Della Gatta and I’m currently in my third semester
        of Multimedia Design at EK. I was born in Hawaii, but grew up in Denmark
        — a mix that, along with my Danish, Italian, and American roots, has
        given me a broad and adaptable perspective. Moving between cultures and
        places has made me something of a social chameleon, and I approach
        design the same way: flexible, adaptable, and able to explore multiple
        styles at their full potential. For me, graphic design is the perfect
        mix of my two favorite things — art and spending time at a computer.
        It’s where creativity meets curiosity, and I love using design to turn
        ideas into engaging, visual stories.
      </p>
    </div>

    <div>
      <img src="/src/assets/images/kianaandfiggy.png" alt="Kiana and Figgy" />
      <button></button>
    </div>
  </section>

  
  <section>
    <div></div>
  </section>

  
  <section>
    <div>
      <h2>Skills</h2>
    </div>
    <div></div>
  </section>
</MainLayout>