<div>
  <button 
    class="font-display font-semibold text-4xl text-secondary p-4 px-8 border-4 border-secondary rounded-full lg:text-5xl transition-all duration-300
           hover:[text-shadow:2px_0_0_white] hover:[-webkit-text-stroke:1px_black] "
  >
    Click Here!
  </button>
</div>