---
import Link from "./Link.astro";
---

<footer class="bg-[url(src/assets/images/footerbackground.png)] bg-cover bg-center min-h-[50vh] flex flex-col items-center justify-center text-center p-8">
  <h2 class="mb-8 font-display font-semibold text-5xl md:text-7xl">Contact Me</h2>
  
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 place-items-center">
    <Link 
      href="https://www.instagram.com/yourprofile" 
      img="src/assets/images/Insta.png" 
      alt="Instagram" 
    />
    
    <Link 
      href="https://www.linkedin.com/in/yourprofile" 
      img="src/assets/images/Linked.png" 
      alt="LinkedIn" 
    />
    
    <Link 
      href="mailto:your@email.com" 
      img="src/assets/images/email.png" 
      alt="Email" 
      target="_self"  
    />
  </div>
</footer>
  