---
import Link from "./Link.astro";
---

<footer 
  id="contact" 
  class="relative bg-[url('/images/footerbackground.png')] bg-cover bg-center min-h-[50vh] flex flex-col items-center justify-center text-center p-8"
>
  <h2 class="relative inline-block mb-8 font-display font-semibold text-5xl md:text-7xl">
    <img 
      src="/images/1.svg" 
      alt="icon" 
      class="absolute right-68 -top-8 w-14 h-14 md:right-100 md:-top-20 md:w-30 md:h-30 animate-pulse animate-infinite"
    />
    Contact Me
  </h2>
  
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 place-items-center relative z-10">
    <Link 
      href="https://www.instagram.com/yourprofile" 
      img="/images/insta.png" 
      alt="Instagram" 
    />
    
    <Link 
      href="https://www.linkedin.com/in/yourprofile" 
      img="/images/linked.png" 
      alt="LinkedIn" 
    />
    
    <Link 
      href="mailto:your@email.com" 
      img="/images/email.png" 
      alt="Email" 
      target="_self"  
    />
  </div>

  <img 
    src="/images/kittens.png" 
    alt="Left decoration" 
    class="hidden md:block absolute left-0 bottom-0 w-64 lg:w-80"
  />

  <img 
    src="/images/figgy.png" 
    alt="Right decoration" 
    class="block absolute right-0 bottom-0 w-70 lg:w-90 "
  />
</footer>